<html>
  <head>
    <title>Todo</title>
  </head>
  <body>
    <h1>Witaj</h1>
    <ul class="list-group">
      <% @items.each do |item| %>
        <% if item["completed"] %>
          <p><s><%= item["name"] %></s></p>
        <% else %>
          <p><%= item["name"] %></p>
          <form method="POST" action="/done">
            <input type="hidden" name="id" value="<%= item['id'] %>">
            <input type="submit" value='Ukończone'>
          </form>
        <% end %>
        <form method="POST" action="/delete">
          <input type="hidden" name="delete_id" value="<%= item['id'] %>">
          <button name="delete_data">Usuń</button>
        </form>
      <% end %>
      </li>
    </ul>

    <form method="POST" action="/item">
      <p>Nazwa: <input type="text" name="name"></p>
      <input type="submit" value='Dodaj'>
    </form>
  </body>
</html>
